body {background-color: #fff;}
.customize-support {margin: 0;padding: 0;}
#content {margin-top: 5px;}
#rap {text-align: left;min-width: 1000px;max-width: 1080px;}
.viewOtherPost {text-align: right;margin-right: 5px;}
a:link, a:visited {color: #00f;text-decoration: none;}
a:active, a:hover {text-decoration: underline;}
.storycontent {margin-bottom: 10px;margin-right: 20px;font-family: "Times New Roman",sans-serif;font-size: 21px;text-align: justify;color: #000;max-width: 717px;}
.single_content {max-width: 717px;}
.feedback {color: #ccc;text-align: right;clear: both;}
.meta {font-size: .75em;}
.meta li, ul.post-meta li {display: inline;}
.meta ul {display: inline;list-style: none;margin: 0;padding: 0;}
ul {font-style: normal;font-weight: normal;}
ul li {padding-top: 5px;}
.meta, .meta a {color: #808080;font-weight: normal;letter-spacing: 0;}
.storytitle {font-family: Arial,Helvetica,sans-serif;font-size: 20px;border-bottom: 1px solid #ccc;padding-bottom: 5px;margin-right: 20px;}
.storytitle a {text-decoration: none;}
acronym, abbr {border-bottom: 1px dashed #333;}
acronym, abbr, span.caps {font-size: 90%;letter-spacing: .07em;}
acronym, abbr {cursor: help;}
blockquote {border-left: 5px solid #ccc;margin-left: 1.5em;padding-left: 5px;}
.menubar, .menubar a:link, .menubar a:visited {color: #ff0;text-decoration: none;font-family: sans-serif,Arial,Verdana,"Trebuchet MS";font-size: 14px;padding: 2px 4px;text-shadow: 1px 1px 0px #333;letter-spacing: .05em;}
h1 {font-size: 28px;color: #000;line-height: 1.25em;font-family: Times New Roman;font-weight: bold;}
h2, h3, h4, h5 {color: #000;text-align: left;line-height: 1.25em;font-family: Tahoma;font-weight: bold;margin: .75em 0 .75em 0;}
h2 {font-size: 18px;}
h3 {font-size: 15px;}
h4 {font-size: 13px;}
h5 {font-size: 12px;}
p {line-height: 1.5em;}
td, body {font-family: Verdana;font-size: 14px;color: #008;}
.notes {text-align: justify;font-family: Arial;font-size: 13px;margin: 0px;}
.imagenotes {text-align: center;font-family: Tahoma;font-style: italic;font-size: 13px;color: #000;margin: 0 0;padding: 10px;}
#article_body {margin: 32px;}
.bodypara {text-align: justify;margin: 0 0 .75em 64px;}
.homebodypara {text-align: justify;margin: 0 0 .75em 0px;}
.firstpara {text-align: justify;margin: 0 0 .75em 64px;}
.i1para {text-align: justify;margin: 0 0 .75em 128px;}
.leftpara {text-align: left;margin: 0 0 .75em 64px;}
.centerpara {text-align: center;margin: 0 0 .75em 64px;}
.notes {text-align: justify;font-family: Arial;font-size: 13px;margin: 0 0 0 64px;}
.refpara {font-family: Arial;font-size: 13px;text-align: left;margin: .5em 0 1.25em 64px;line-height: 1.25em;}
.infobox_gray {background-color: #ddd;border: 1px solid #ccc;float: right;width: 240px;margin-left: 10px;padding: 6px;text-align: justify;font-family: Arial;font-size: 13px;color: #000;line-height: 1.25em;}
.navbox {background-image: url("//www.9binh.com/pic/bar2.gif");background-position: top;background-repeat: repeat-x;margin: 0 0 8px 0;border: 1px solid #bcf;}
.navboxright {background-image: url("//www.9binh.com/pic/bar2.gif");background-position: top;background-repeat: repeat-x;margin-left: 5px;margin-bottom: 10px;border: 1px solid #bcf;padding-right: 5px;}
.navcap {font-family: Arial;font-size: 14px;color: #000;font-weight: bold;padding: 0 8px;}
.navcapright {text-transform: uppercase;font-family: sans-serif,Arial,Verdana,"Trebuchet MS";font-size: 14px;color: #000;font-weight: bold;padding-left: 10px;padding-bottom: 10px;padding-top: 10px;}
.navcapright a {text-transform: none;}
.navitem {text-align: justify;font-family: Arial;font-size: 14px;line-height: 1.2em;margin-top: 0;padding-top: 5px;padding-right: 3px;}
td.navitem img {}
.newsflash {padding: 4px 8px 8px 8px;border: 1px solid #efc59b;text-align: center;margin-right: 5px;background-image: url("//www.9binh.com/pic/bar2.gif");background-position: top;background-repeat: repeat-x;}
.newsbox {margin: 0 0 8px 0;border-left: 1px dashed #999;}
.newscap {font-family: Arial;font-size: 13px;color: #000;font-weight: bold;padding: 0 4px;}
.newsitem, .newsitem1, .newsitem2 {text-align: justify;font-family: Arial;font-size: 13px;margin: 0 0 5px 0;}
.newsitem1 {background-color: #f1f1f1;}
.cssTextLink {font-family: Tahoma,Arial,Helvetica,sans-serif;font-size: 16px;font-weight: bold;text-decoration: none;padding: 5px 0;}
.cssTextLink:hover {text-decoration: underline;cursor: pointer;}
.cssTuidangForm {margin-left: 10px;margin-right: 5px;text-align: justify;}
.cssTuidangForm img {border: 1px solid #ccc;padding: 2px;margin: 15px auto;}
.cssTuidangForm ol li {margin: 5px 0;}
.cssTuidangForm ol li ol {padding-left: 15px;}
.cssTuidangForm ol li ol li {font-weight: normal;}
.cssContent {margin-right: 10px;margin-bottom: 10px;clear: both;}
.cssContent img {}
.cssContent table {margin-bottom: 10px;}
.cssBody {}
.cssBody table {margin-bottom: 0;}
.cssBody table td {padding: 5px 0;}
.newsbox {padding: 10px;}
.cssPaging {text-align: right;margin-right: 20px;}
.cssTitle {border-bottom: 1px solid #f80;margin: 15px 0pt 8px;padding: 5px 0pt 0pt;font-family: Arial;font-style: normal;font-variant: normal;font-size: 17px;line-height: normal;font-stretch: normal;color: #f80;width: 100%;}
.cssTitle a {color: #f80;text-transform: uppercase;font-family: sans-serif,Arial,Verdana,"Trebuchet MS";}
.cssTitleField {font-family: Arial,Verdana;font-size: 15px;}
.cssShortContent {font-family: Arial;font-size: 15px;color: black;margin-top: 5px;line-height: 18px;}
.cssTitle a:hover {color: #f80;text-decoration: underline;background: white;}
.cssPostDate {margin: 20px 20px 20px;font-style: italic;font-family: Tahoma,Arial,Helvetica,sans-serif;font-size: 14px;text-align: right;}
.linkcat {font-family: Arial;font-size: 13px;color: #000;font-weight: bold;padding: 5px 0px;}
.rowlink {font-family: Arial;font-size: 14px;padding-bottom: 10px;}
.articleimage {border-right: #ddd 1px solid;padding-right: 4px;border-top: #ddd 1px solid;padding-left: 4px;padding-bottom: 4px;border-left: #ddd 1px solid;padding-top: 4px;border-bottom: #ddd 1px solid;background-color: #eee;text-align: center;}
.articleimage .image {margin-bottom: 5px;text-align: center;}
.articleimage .caption {padding-left: 4px;font-size: 11px;color: #666;text-align: left;}
.right {float: right;margin-left: 10px;}
.left {float: left;margin-right: 10px;}
.tablenav a.button-secondary {display: block;margin: 1px 8px 0 0;}
.tablenav .button-secondary {padding: 2px 4px;vertical-align: top;}
.tablenav .tablenav-pages a.next, .tablenav .tablenav-pages a.prev {text-decoration: underline;}
.tablenav {height: 2em;padding: 7px 0px;clear: both;margin-bottom: -10px;vertical-align: text-top;background-color: #e4f2fd;}
.tablenav .tablenav-pages {float: right;height: 18px;padding-top: 6px;font-size: 11px;}
.tablenav .tablenav-pages a {text-decoration: none;}
.tablenav .tablenav-pages .tablenav .dots {background-color: #e4f2fd;border-color: #e4f2fd;}
.tablenav .next, .tablenav .prev {background-color: #e4f2fd;border-bottom-color: #2583ad;border-color: #e4f2fd;color: #2583ad;}
.tablenav .next:hover, .tablenav .prev:hover {border-bottom-color: #d54e21;border-color: #e4f2fd;color: #d54e21;}
.page-numbers {padding: 2px 4px;margin-right: 3px;border-width: 1px;border-style: solid;}
.page-numbers.current {font-weight: bold;border-width: 1px;border-style: solid;}
p.pagenav {margin: 0;display: inline;}
.pagenav span {font-weight: bold;margin: 0 6px;}
.aligncenter, div.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.alignleft {float: left;}
.alignright {float: right;}
.wp-caption {border: 1px solid #ddd;text-align: center;background-color: #f3f3f3;padding-top: 4px;margin: 10px;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.wp-caption img {margin: 0;padding: 0;border: 0 none;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;padding: 0 4px 5px;margin: 0;}
.post img {padding: 10px;}
ul.blogroll {padding-left: 10px;margin-left: 10px;}
#footer {max-width: 1080px;background-color: #3b2a4b;padding: 13px 0;margin-top: 25px;color: #fff;}
#jp_header {width: 1080px;height: 404px;position: relative;background-image: url("//www.9binh.com/pic/jp_banner-min.jpg");background-repeat: no-repeat;background-size: cover;border-bottom: 1px solid #bcf;}
.header_title {font-family: "Times New Roman","serif";font-size: 22px;color: blue;width: 550px;text-align: center;padding-top: 230px;margin: 0 auto;text-shadow: 1px 1px 0px #fff;font-style: italic;}
.nav {padding-left: 0;margin-bottom: 0;list-style: none;}
.navbar-nav > li {border: 1px solid #fff;margin: 8px;padding: 4px 5px;border-radius: 4px;}
.navbar-nav > li:hover {background-color: rgba(0,0,0,.5);cursor: pointer;}
@media only screen and (max-width: 991px) {#rap, #footer {min-width: 100%;max-width: 100%;}
	#jp_header {width: 100% !important;}
	.header_title {width: 100% !important;font-size: 18px !important;padding-top: 275px !important;}
	.menubar {top: 65px !important;}
	#content {padding: 5px 15px;}
	#content table {table-layout: fixed;}
	#home_left, #home_right {display: none;}
	#home_content .newsflash {margin-right: 0;}
	#home_content .cssContent {margin-right: 0;}
	#category_left {display: none;}
	#content .cssContent {margin-right: 0;}
	#page_right {display: none;}
	#page_content .storycontent {margin-left: 10px;margin-right: 10px;word-wrap: break-word;overflow-wrap: break-word;}
	#page_content .storycontent p {line-height: normal;}
	#page_content .storycontent img {width: 90% !important;height: auto;}
	#single_right {display: none;}
	h2, h3, h4, h5 {margin: 0 10px 5px 0;font-size: 18px;line-height: 25px;}
	#single_content div {width: 100% !important;}
	#single_content .wp-caption {margin: 0;}
	#single_content .cssPostDate {margin: 0;}
	#single_content .storytitle {margin: 0;margin-bottom: 10px;}
	#single_content .storycontent {margin-right: 10px;word-wrap: break-word;overflow-wrap: break-word;}
	#single_content .storycontent img {width: 90% !important;height: auto;}
	#single_content .storycontent div {margin-left: 0 !important;}
	#single_content .firstpara {margin: 0 0 .75em 0;}
	#single_content .bodypara {margin: 0 0 .75em 0;}
	#single_content .i1para {margin: 0 0 .75em 0;}
	#single_content .leftpara {margin: 0 0 .75em 0;}
	#single_content .centerpara {margin: 0 0 .75em 0;}
	#single_content .notes {margin: 0 0 0 0;}
	#single_content .storycontent table[align=right] {width: 100%;}
	#single_content .storycontent table[align=right] td {width: 400px;}}
@media only screen and (min-width: 479px) and (max-width: 767px) {#single_content .storycontent table[align=right] {width: 100%;}
	#single_content .storycontent table[align=right] td {width: 400px;}
	#tintuc, #diendan {width: 44% !important;float: left !important;}
	#tintuc-item, #diendan-item {width: 55% !important;float: right !important;}
	#tintuc-item .cssBody, #diendan-item .cssBody {padding-left: 10 !important;}}
@media only screen and (max-width: 479px) {#home_content .cssShortContent {max-height: 54px;overflow: hidden;}
	#single_content .storycontent table[align=right] {width: 100%;}
	#single_content .storycontent  table[align=right] td {width: 365px;}
	#content .storycontent iframe {width: 100% !important;height: 236px;}
	#tintuc, #diendan {width: 100% !important;}
	#tintuc img, #diendan img {width: 100% !important;}
	#tintuc-item, #diendan-item {width: 100% !important;}
	#tintuc-item .cssBody, #diendan-item .cssBody {padding-left: 0 !important;}}
@media only screen and (max-width: 320px) {#home_content .cssShortContent {display: none;}
	.header_title {font-size: 16px !important;}
	#single_content .storycontent table[align=right] td {width: 300px;}}
.mejs-controls {background-color: #0071bc !important;}
.mejs-container {border-radius: 21px;}
.mejs-container * {border-radius: 21px;}
#tintuc, #diendan {width: 44%;float: left;}
#tintuc-item, #diendan-item {width: 55%;float: right;}
#tintuc-item .cssBody, #diendan-item .cssBody {padding-left: 10px;}